* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background: #333;
}
body{
    padding-bottom: 120px;
}

h2 {
    color: white;
    padding-inline: 50px;
    padding-block: 20px;
}

p {
    color: white;
    padding-inline: 100px;
    margin-inline-end: 20%;
    text-align: justify-all;
    margin-bottom: 20px;
}
iframe{
    margin-inline: 100px;
}

#footer_object {
    margin: 0;
    padding: 0;
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
}